@using Models
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@using System.Linq
@using Assignment_2.Data
@inject IAdultsService AdultsService

@if (!buttonPressed)
{
    <h1>Add adult</h1>
    <h3><b>Adult information</b></h3>
    <li>
        <ul><input type="text" placeholder="First name.." @bind="firstName">First name</ul>
        <ul><input type="text" placeholder="Last name.." @bind="lastName">Last name</ul>
        <ul><input type="text" placeholder="Hair color.."@bind="hairColor">Hair color</ul>
        <ul><input type="text" placeholder="Eye color.."@bind="eyeColor">Eye color</ul>
        <ul><input type="number" placeholder="Age.."@bind="age">Age</ul>
        <ul><input type="number" placeholder="Weight.." @bind="weight">Weight</ul>
        <ul><input type="number" placeholder="Height.."@bind="height">Height</ul>
        <ul><input type="text" placeholder="Sex.."@bind="sex">Sex</ul>
        <ul><input type="text" placeholder="Job title.."@bind="jobTitle">Job title</ul>
        <ul><input type="number" placeholder="Salary.."@bind="salary">Salary</ul>
    </li>
    <button @onclick="addButtonPressed">Add</button>
}

@if (buttonPressed)
{
    <AddAdults/>  
}

@code {
    private Boolean buttonPressed = false;

    [Required]
    [NotNull]
    private String firstName;
    [Required]
    [NotNull]
    private String lastName;
    [Required]
    [NotNull]
    private String hairColor;
    [Required]
    [NotNull]
    private String eyeColor;
    [Required]
    [Range(18, Int32.MaxValue)]
    private int? age;
    [Required]
    [Range(0, Int32.MaxValue)]
    private int? weight;
    [Required]
    [Range(0,Int32.MaxValue)]
    private int? height;
    [Required]
    [NotNull]
    private String sex;
    [Required]
    [NotNull]
    private String jobTitle;
    [Required]
    [Range(0,Int32.MaxValue)]
    private int? salary;
    

    public async void addButtonPressed()
    {
        buttonPressed = true;
        Adult adult = new Adult();
        IList<Adult> adults = await AdultsService.GetAdultsAsync();
        int maxID = adults.Count;
        adult.Id = maxID+1;
        adult.FirstName = firstName;
        adult.LastName = lastName;
        adult.HairColor = hairColor;
        adult.EyeColor = eyeColor;
        adult.Age = (int)age;
        adult.Weight = (int)weight;
        adult.Height = (int)height;
        adult.Sex = sex;
        Job job = new Job();
        job.JobTitle = jobTitle;
        job.Salary = (int)salary;
        adult.JobTitle = job;

        AdultsService.AddAdultAsync(adult);
    }
}